* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
.NavLink{
  text-decoration: none;
  color : #fff;
}
.active{
  color: yellow;
  font-weight: 700;
}
.MobileLink{
    text-decoration: none;
    color : #000;
}
