* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
.NavLink{
  text-decoration: none;
  color : #fff;
  margin: 10px;
}
.NavLink:hover{
  color: #d4d9dd;
}
.active{
  color: yellow;
  font-weight: 700;
}
.MobileLink{
    text-decoration: none;
    color : #000;
}
.mulslider{
  overflow: hidden;
  /* margin: 20px 2rem;
  margin-left: 3rem; */
  background-color: burlywood;
  text-align: center;
  padding: 2rem 2rem;
}

.card{
  width: 22rem !important;
}


/* .slick-slide{
  margin: 0 ;
}
.slick-list{
  margin: 0;
} */


