* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
.NavLink{
  text-decoration: none;
  color : #fff;
  margin: 10px;
}
.NavLink:hover{
  color: #d4d9dd;
}
.active{
  color: yellow;
  font-weight: 700;
}
.MobileLink{
    text-decoration: none;
    color : #000;
}
.mulslider{
  
  overflow: hidden;
  /* margin: 20px 2rem;
  margin-left: 3rem; */
  background-color: rgb(182, 174, 164);
  text-align: center;
  padding: 2rem 4rem;

}

.card{
  width: 22rem !important;
}


/* .slick-slide{
  margin: 0 ;
}
.slick-list{
  margin: 0;
} */

.slick-arrow.slick-prev,
.slick-arrow.slick-next{
  background-color: #fff;
  box-shadow: 0px 5px 15px rgb(15, 1, 1)a;
  max-width: 60px;
  width: 60px;
  height: 80px;
  color: #000;
  z-index: 1;
  display: flex;
  justify-content:center ;
  align-items: center;
  margin: -10px;
  border-radius: 10px;
}
.slick-prev::before,.slick-next::before{
  display: none;
}

.Detailsp{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.imageclass{
  max-width: 100%;
}
.arrow{
  font-size: 4rem;
}


@media screen and (max-width:412px) {
  
  .mulslider{
    max-height: 100vh;
    padding: 10px;
    
  }
  .card{
    max-width: 6rem !important;
    margin-left: 0.7rem;
  }
  .imageclass{
    width: 100%;
  }
  .slick-arrow.slick-prev,
.slick-arrow.slick-next{
  display: none;
}
}

@media screen and (max-width:600px) and (min-width:414px) {
  
  .mulslider{
    max-height: 100vh;
    padding: 22px ;
    
  }
  .card{
    max-width: 7rem !important;
    margin-left: 0.7rem;
  }
  .imageclass{
    width: 100%;
  }
  .slick-arrow.slick-prev,
.slick-arrow.slick-next{
  display: none;
}

}

@media screen and (max-width:900px) and (min-width:601px) {
  
  .mulslider{
    max-height: 100vh;
    padding: 10px 50px;
    
  }
  .card{
    max-width: 10rem !important;
    margin-left: 0.7rem;
  }
  .imageclass{
    width: 100%;
  }
 
}
@media screen and (max-width:1024px) and (min-width:900px) {
  
  .mulslider{
    max-height: 100vh;
    /* padding: 10px 30px; */
    padding: 2rem;
    
  }
  .card{
    max-width: 14rem !important;
    margin-left: 0.7rem;
  }
  .imageclass{
    width: 100%;
  }
 
}
@media screen and (max-width:1500px) and (min-width:1025px) {
  
  .mulslider{
    max-height: 100vh;
    padding: 10px 20px;
    
  }
  .card{
    max-width: 15rem !important;
    margin-left: 0.7rem;
  }
  .imageclass{
    width: 100%;
  }
 
}